body {
    font-family: Arial;
}

#hangman {
    width: 100%;
    text-align: center;
}

#buttons {
    margin: 10px auto;
    width: 750px;
}

#pic {
    width: 400px;
    height: 300px;
}

#visibleWord {
    letter-spacing: 10px;
    font-size: 3em;
}

.charButtons {
    position: relative;
    display: inline-block;
    margin: auto;
    margin: 0 5px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 1.8em;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.charButtons:hover {
    background-color: black;
    color: white;
}

.chars {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
