body {
    font-family: "Montserrat";
}

#hangman {
    text-align: center;
}

#buttons {
    margin: 50px auto auto auto;
    width: 80%;
}

#pic {
    width: 80%;
    margin-top: 20px;
}

#visibleWord {
    letter-spacing: 10px;
    font-size: 3vw;
}

#end {
    font-size: 3em;
}

.charButtons {
    position: relative;
    display: inline-block;
    margin: auto;
    margin: 0 5px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 1.8em;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    font-family: "Montserrat";
}

.charButtons:hover {
    background-color: black;
    color: white;
}

.chars {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width : 680px) {
    #buttons {
        margin: 50px auto auto auto;
        width: 100%;

    }
    #visibleWord {
        letter-spacing: 5px;
        font-size: 2em;
    }
}

@media screen and (max-width : 800px) {

}
